<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" monitorInterval="1800">

    <properties>
        <property name="LOG_HOME">logs</property>
        <property name="FILE_NAME">ant</property>
    </properties>

    <Appenders>
        <!-- 输出到控制台 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 部署时如果发现web容器控制台乱码，可以将charset改为GBK -->
            <PatternLayout charset="UTF-8" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- 文件方式记录，日志文件位于当前配置文件的相对目录中 -->
        <RollingRandomAccessFile name="running-log"
                                 fileName="${log4j:configParentLocation}/${LOG_HOME}/${FILE_NAME}.log"
                                 filePattern="${log4j:configParentLocation}/${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.zip">
            <!-- 日志输出格式 -->
            <PatternLayout charset="UTF-8"
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
                <!-- 每个日志文件最大200 MB -->
                <SizeBasedTriggeringPolicy size="200 MB" />
            </Policies>
            <DefaultRolloverStrategy max="1000000" compressionLevel="9" />
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <!-- 日志同时输出控制台和记录到文件 -->
        <!-- info级别和info以上的信息将会输出到文件，包括warn、error和fatal -->
        <logger level="info" name="com.appFoundationlog" additivity="false">
            <AppenderRef ref="running-log"/>
        </logger>

        <!-- 如果是使用root logger，则error及以上的信息将会打出到控制台 -->
        <Root level="debug" >
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>