<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.ant.pojo.TargetApp" alias="targetApp"></typeAlias>

    </typeAliases>

    <plugins>
        <!-- 声明一个分页拦截器 -->
        <!-- -->
        <plugin interceptor="com.appFoundation.system.interceptor.PageInterceptor">
            <!-- 给拦截器传入一个参数（该参数在拦截器中判断拦截到的sql是不是需要分页的使用） -->
            <property name="sqlIdByPageRegex" value=".+ByPage$"/>
        </plugin>
    </plugins>
</configuration>

