header{
    text-align: center;
    padding:10px;
    font-size: large;
    background-color: #1aad19;
    margin-bottom: 10px;
}
html,body{
    height: 100%;
}
.container, .page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.center{
    margin: 0 auto;
}
.page__bd ,.button-sp-area{
    padding: 0 15px;
}

.tip{
    font-size: small;
    padding: 10px;
    color: #999999;
}
.bills_time{
    font-size: small;
    padding-top: 5px;
    color: #999999;
}
.bills_title{
    font-size: 16px;
    font-weight: bold;
}
.bills_momey {
    margin-right: 10px;
    color: #1aad19;
}
.receive_task_title{
    width: 100%;
    height: 20px;
}
.receive_task_img{
    margin-top: 10px;
    width: 100%;
    height: 200px;
}
.receive_task_img img{
    width: 100%;
    height: 100%;
}