header{
    text-align: center;
    padding:10px;
    font-size: large;
    background-color: #1aad19;
}
html,body{
    height: 100%;
}
.container, .page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}