header{
    text-align: center;
    padding:10px;
    font-size: large;
    background-color: #1aad19;
    margin-bottom: 10px;
}
html,body{
    height: 100%;
}
.container, .page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.center{
    margin: 0 auto;
}
.page__bd{
    padding: 0 15px;
}
.tip{
    font-size: small;
    padding: 10px;
    color: darkgrey;
}
